<html>
<head lang="en">
    <% include parts/head %>
    <title><%= title %></title>
</head>
<body>

<% include parts/connect %>

<div class="container">
    <div class="row">
        <div class="col">
            <% include parts/client-name %>
        </div>
    </div>
    <div id="app" class="row">
        <div class="col text-center">
            <canvas id="field"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript" src="/<%= name %>.bundle.js"></script>
</body>
</html>
